.outer-wrapper{
    width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    font-family: 'epilogueregular', serif;
}
@media (max-width: 1000px) {
    .outer-wrapper {
        width: 100%;
    }
}
.outer-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 50px;
    padding: 0 15px 15px 15px;
    border-bottom: 1px solid gray;
    box-sizing: border-box;
}

.outer-header .banner {
    display: flex;
    flex: 0 0 auto;
}

.outer-header .banner .title {
    display: flex;
    justify-content: end;
    flex-direction: column;
    margin-left: 15px;
    margin-bottom: 5px;
}

.outer-header .banner .title h3 {
    font-weight: bold;
}
.outer-header .banner .title h4 {
    font-size: 14px;
    color: gray;
}

.outer-header a {
    text-decoration: none;
    color: black;
}

.outer-header a:hover {
    color: darkslateblue;
}

.outer-header .header-menu {
    display: flex;
    align-items: end;
    margin-bottom: 5px;
    flex: 0 0 auto;
}
.outer-header .header-menu a {
    display: block;
    padding: 5px;
}