.outer-wrapper {
  padding: 20px 0 50px 0;
  background-color: white;
}

.inner-wrapper {
  width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: column;
  font-family: 'epilogueregular', serif;
  font-size: 18px;
}

.inner-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 50px;
  padding: 0 15px 15px 15px;
  box-sizing: border-box;
}

.inner-header .banner {
  display: flex;
  flex: 0 0 auto;
}

.inner-header .banner .title {
  display: flex;
  justify-content: end;
  flex-direction: column;
  margin-left: 15px;
  margin-bottom: 5px;
}

.inner-header .banner .title h3 {
  font-weight: bold;
}
.inner-header .banner .title h4 {
  font-size: 14px;
  color: gray;
}

.inner-header a {
  text-decoration: none;
  color: black;
}

.inner-header a:hover {
  color: darkslateblue;
}

.inner-header .header-menu {
  display: flex;
  align-items: end;
  margin-bottom: 5px;
  flex: 0 0 auto;
}
.inner-header .header-menu a {
  display: block;
  padding: 5px;
}

.paginator {
  display: flex;
  width: 100%;
  justify-content: center;
}

.paginator>a {
  text-decoration: none;
  padding: 10px;
  margin: 2px;
  font-size: 14px;
  display: block;
  background-color: lightblue;
  color: white;
  border-radius: 8px;
  font-weight: bold;
  transition: 0.3s;

  &.selected {
    background-color: black;
    color: white;
  }

  &:hover {
    background-color: cornflowerblue;
    color: white;
  }
}

.outer-footer {
  min-height: 300px;
  background-color: #3d89bb;
  box-shadow: inset 0 2px 2px 0 rgba(0,0,0,0.45);
}


@media (max-width: 1024px) {
  .inner-wrapper {
    width: 100%;
    font-size: 28px;
  }

  .inner-header {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }

  .inner-header .banner {
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
  }

  .inner-content {
    padding: 50px;
  }
}