@import 'variables.less';

.page-card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

.page-card-header .title h4 {
  color: black;
  font-weight: bold;
  font-size: 1.1em;
}

.page-card-header .authors {
  font-size: 0.75em;
  color: darkslategray;
}

.page-card-header .authors .publishing-date {
  display: inline;
}

.page-card-header .authors h3 {
  display: inline;
}

.page-card-header .tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2px;
  justify-content: center;
}

.page-card-header .tags h3 {
  padding: 2px 5px;
  font-size: 0.75em;
  background-color: cornflowerblue;
  margin-right: 4px;
  margin-bottom: 4px;
  border-radius: 8px;
  transition: 0.3s;
  a {
    text-decoration: none;
    color: white;
  }

  &:hover {
    background-color: black;
  }
}

.page-card-summary {
  margin: 15px 0;
}

.page-card-footer {
  display: flex;
  justify-content: end;
}

.page-card-footer .read-more {
  padding: 5px 10px;
  font-size: 0.9em;
  background-color: #d5e2ff;
  margin-right: 4px;
  margin-bottom: 4px;
  color: black;
  border-radius: 8px;
  transition: 0.3s;

  &:hover {
    background-color: black;
    color: white;
  }
}

.page-wrapper .page-card {
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.45);
  font-size: 1em;
}

.page-wrapper .page-content {
  padding: 10px;
}

@media (max-width: @mobile-bp) {
  .page-wrapper .page-content {
    padding: 50px;
  }
}