<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{{> title}}</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <script src="/common.js"></script>
    {{> head}}
</head>
<body>
<div class="outer-wrapper">
    <div class="inner-wrapper">
        <div class="inner-header">
            <div class="banner">
                <a href="/" ><img src="/images/abissens-small.png" alt="avatar" /></a>
                <div class="title">
                    <h3>Abissens blog</h3>
                    <h4>Some drafts about software making</h4>
                </div>
            </div>

            <div class="header-menu">
                <a href="/archive/" >archive</a>
                <a href="/about" >about</a>
            </div>
        </div>
        <div class="inner-content">
            {{> content}}
        </div>
    </div>
</div>
<div class="outer-footer">

</div>
</body>
</html>
